body {
  background: url("./images/aircraft-1362586_1920.jpg");
  background-size: cover;
}

#upperSection {
  background-image:
}

#midSection {
  background-image: url("./images/barn.jpg");
  height: 100%;
  width: 100%;
  padding-bottom: 20%;
  padding-left: 2%;
  margin-left: -20px;
}
.partial h4 {
  font-size: 1.5em;
  margin-left: -5px;
  float: left;
  text-align: left;
  clear: left;
}

#lowerSection {
  background: url("./images/20001-2.jpg");
  background-size:cover;
  z-index: 4;
  height: 100%;
  width: 100%;
}

#enquiry {
  background: url("./images/fountain.jpg");
  z-index: 4;
  height: 100%;
  width: 100%;
}
